backend/.env
__pycache__/
/venv
node_modules/
*.log
*.db
/backend/schemas/memo_prompts_private.json
.env
frontend/.env.production

*.docx


npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
/.pnp
.pnp.js

/coverage
/build
frontend/build/*